* {
	box-sizing: border-box;
}

html,
body {
	overflow-x: hidden;
	line-height: 1.4;
	height: 100%;
}

body {
	margin: 0;
	font-family: "Roboto", "Trebuchet MS", Helvetica, Arial, sans-serif;
	font-weight: normal;
	background-color: #1a1a1a;
}

/* footer {
	text-align: center;
}

.footer-container {
	color: grey;
	background-color: #000;
	position: fixed;
	bottom: 0;
	width: 100%;
} */

.backdrop_container {
	text-align: center;
}

.marvel-logo {
	width: 100px;
}

.landing-navbar {
	display: flex;
	justify-content: space-between;
	padding: .7em 1.5em;
	align-items: center;
	background-color: black;
}

.marvel-backdrop {
	width: 100%;
	border-bottom: 2px solid grey;
}

.register-link {
	color: white;
	text-decoration: none;
	font-size: 1.5em;
	padding: 5px 20px;
	border-radius: 2px;
	background-color: rgb(61, 118, 243);
}

.login-link {
	color: #f8f8ff;
	text-decoration: none;
	font-size: 1.2em;
}

.sign-in-container {
	display: flex;
	justify-content: space-evenly;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	max-width: 300px;
	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 3s; /* Firefox < 16 */
	-ms-animation: fadein 3s; /* Internet Explorer */
	-o-animation: fadein 3s; /* Opera < 12.1 */
	animation: fadein 3s;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Firefox < 16 */
@-moz-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Internet Explorer */
@-ms-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/* Opera < 12.1 */
@-o-keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.sign-in-container h1 {
	color: #f8f8ff;
	font-size: 1.3em;
}

.sign-in-container span {
	color: #f8f8ff;
	font-size: 1em;
	margin: .6em 0;
}

.register-link-container {
	margin-top: 2em;
}

.captain_america,
.hulk,
.hulk-mobile {
	margin: 0 auto;
	width: 250px;
	height: 330px;
	box-shadow: 10px 10px 8px #000;
}

.hulk {
	display: none;
}

.about_section {
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid grey;
	padding: 3.5em 0;
}

.about_overview {
	/* max-width: 500px; */
	margin: 0 1.4em;
	text-align: center;
}

.about_section h3 {
	color: #f8f8ff;
	font-size: 2em;
}

.about_section p {
	color: #f8f8ff;
	font-size: 1.1em;
}

/* ==========Register.js========== */

.register-container {
	padding: 5em 0;
}

.register-to-login,
.login-to-register {
	color: rgb(61, 118, 243);
	text-decoration: none;
}

.register-overview h1,
.login-overview h1 {
	color: #f8f8ff;
	text-shadow: 10px 10px 8px #000;
	font-size: 2.5em;
}

.register-overview p,
.login-overview p {
	color: rgb(151, 151, 151);
	text-shadow: 10px 10px 8px #000;
	font-size: 1.2em;
}

.back-home-btn {
	display: flex;
	align-items: center;
	color: rgb(168, 0, 0);
	text-decoration: none;
	text-shadow: 10px 10px 8px #000;
}

.form-section {
	/* margin: 0 auto; */
	width: 80%;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

input {
	padding: .2em;
	font-size: 1.3em;
	margin: .5em;
	outline: none;
	box-shadow: 10px 10px 8px #000;
}

.submit-btn {
	font-size: 1.1em;
	margin: 1em;
	box-shadow: 10px 10px 8px #000;
}

@media screen and (min-width: 1100px) {
	.marvel-logo {
		width: 130px;
	}

	.landing-navbar {
		background-color: black;
		padding: 1em 6em;
	}

	.login-link {
		font-size: 1.7em;
	}

	.marvel-backdrop {
		opacity: .7;
		position: relative;
		width: 100%;
	}

	.sign-in-container {
		max-width: 800px;
		position: absolute;
		bottom: 50%;
		left: 0;
		right: 0;
		margin: auto;
	}

	.sign-in-container h1 {
		font-size: 2em;
	}

	.sign-in-container span {
		font-size: 1.3em;
	}

	.register-link {
		font-size: 2em;
	}

	.captain_america,
	.hulk {
		width: 300px;
		height: 400px;
		margin: 0;
	}

	.hulk {
		display: block;
	}

	.hulk-mobile {
		display: none;
	}

	.about_section {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		border-bottom: 2px solid grey;
		margin: 0 auto;
	}

	.about_overview {
		max-width: 500px;
		margin: 0;
	}

	.about_section h3 {
		font-size: 3em;
	}

	.about_section p {
		font-size: 1.3em;
	}

	/* ==========Register.js========== */
	.register-container {
		height: 100vh;
		background-image: url('./images/deadpool.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	/* .login-container {
		height: 100vh;
		background-image: url('./images/spiderman-backdrop.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	} */

	.form-section {
		position: absolute;
		top: 10%;
		left: 0;
		right: 0;
		margin: auto;
		width: 30%;
		text-align: center;
	}

	.login-overview h1,
	.register-overview h1 {
		font-size: 4em;
	}

	.login-overview p,
	.register-overview p {
		font-size: 1.3em;
	}
}
